backupDestination=/home/USERDIR
nextcloudInstallation=/var/www/nextcloud
nextcloudData=/opt/nextcloud-data
apacheUser=www-data
databaseType=postgres
databaseUser=nxtclouddb
databaseDatabaseName=nxtclouddb
databasePassword=''
mysql4byte=1
TMP_PATH=/tmp